<div>
  <div class="block form">
    <mat-radio-group [(ngModel)]="gender">
      <mat-radio-button value="man">Мужчина</mat-radio-button>
      <mat-radio-button value="woman">Женщина</mat-radio-button>
    </mat-radio-group>

    <!--<input type="text" placeholder="Ваш возраст" #age><br>-->
    <!--<input type="text" placeholder="Ваш рост (см)" #height><br>-->
    <!--<input type="text" placeholder="Ваш вес (кг)" #weight><br>-->


    <mat-form-field>
      <input matInput placeholder="Возраст" [formControl]="ageControl" [errorStateMatcher]="matcher" #age>
      <mat-error *ngIf="ageControl.hasError('required')">Вот это <strong>не заполнил</strong></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Рост (см)" [formControl]="heightControl" [errorStateMatcher]="matcher" #height>
      <mat-error *ngIf="heightControl.hasError('required')">Вот это <strong>не заполнил</strong></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Вес (кг)" [formControl]="weightControl" [errorStateMatcher]="matcher" #weight>
      <mat-error *ngIf="weightControl.hasError('required')">Вот это <strong>не заполнил</strong></mat-error>
    </mat-form-field>



    <mat-form-field>
      <mat-select [(value)]="selected">
        <mat-option value="active1">Редко двигаюсь</mat-option>
        <mat-option value="active2">Средняя активность</mat-option>
        <mat-option value="active3">Тренировки через день</mat-option>
        <mat-option value="active4">Физический труд</mat-option>
        <mat-option value="active5">Физический труд и тренировки</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button (click)="printData(age, height, weight)">Отправить</button>
  </div>

  <div class="block result" [ngClass]="{'show': isShow}">
    <h5>Результат</h5>
    <p>Ваш ежедневный расход: {{ration}} ккал</p>
    <table>
      <caption>
        <p>Рекомендуемая норма БЖУ</p>
      </caption>
      <tr>
        <th></th>
        <th>Белки</th>
        <th>Жиры</th>
        <th>Углеводы</th>
      </tr>
      <tr>
        <td>в граммах</td>
        <td>{{protein}}</td>
        <td>{{fat}}</td>
        <td>{{carbo}}</td>
      </tr>
      <tr>
        <td>в ккал</td>
        <td>{{protein * 4}}</td>
        <td>{{fat * 9}}</td>
        <td>{{carbo * 4}}</td>
      </tr>
    </table>
  </div>

  <div class="block result" [ngClass]="{'show': isShow}">
    <h5>Рекомендации</h5>
    <p class="recipe">Рацион рассчитан для поддержания данного веса тела.
    Для эффективного жиросжигания следует уменьшить расчетный рацион на 10%, то есть до {{ration*0.9}} ккал.
    При уменьшении рациона на большуй процент, организм будет испытывать стресс, что приведет к неприятным результам.
</p>
  </div>
</div>
