form {
  background-color: white;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
}
input {
  margin: 7px 0;
  border: 1px solid darkgray;
  outline: none;
}
button {
  margin-top: 20px;
  border: 1px solid darkgray;
  outline: none;
  padding: 7px 10px;
}
table {
  text-align: center;
  background-color: white;
  border-spacing: 0;
}
caption {
  border: 1px solid gray;
}
.result {
  display: none;
  margin-top: 30px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
td, th {
  border: 1px solid gray;
  padding: 5px 10px;
}
.show {
  display: table;
}
