<form>

  <input type="radio" id="man" name="sex" value="man" [(ngModel)]="gender">
  <label for="man">Мужчина</label>
  <input type="radio" id="woman" name="sex" value="woman" [(ngModel)]="gender">
  <label for="woman">Женщина</label>
  <div>Вы выбрали: {{gender}}</div>

  <input type="text" class="data" placeholder="Ваш возраст" #age><br>
  <input type="text" class="data" placeholder="Ваш рост (см)" #height><br>
  <input type="text" class="data" placeholder="Ваш вес (кг)" #weight><br>
  <button (click)="printData(age, height, weight)">Отправить</button>
</form>


<div class="result" [ngClass]="{'show': isShow}">
  <h5>Результат</h5>
  <p>Ваш ежедневный расход: {{ration}} ккал</p>
  <table>
    <caption>
      <p>Рекомендуемая норма БЖУ</p>
    </caption>
    <tr>
      <th></th>
      <th>Белки</th>
      <th>Жиры</th>
      <th>Углеводы</th>
    </tr>
    <tr>
      <td>в граммах</td>
      <td>{{protein}}</td>
      <td>{{fat}}</td>
      <td>{{carbo}}</td>
    </tr>
    <tr>
      <td>в ккал</td>
      <td>{{protein * 4}}</td>
      <td>{{fat * 9}}</td>
      <td>{{carbo * 4}}</td>
    </tr>
  </table>
</div>

<div class="result" [ngClass]="{'show': isShow}">
  <h5>Рекомендации</h5>
  <p class="recipe">По каким то там стандартам в среднем каждый килограмм нашего тела ежедневного нуждается в 30 ккал.
  Соответственно для нормального сущестования Вам необходимо потреблять {{ration}} ккал.<br>
  Для эффективного жиросжигания следует пребывать в небольшом дефиците каллорий, который не должен превышать 10% основного рациона.
  В противном случае организм испытывает стресс, что в итоге ведет ко многим неприятным последствиям.<br>
  Кол-во белка не должно быть ниже 1,5г на кг веса, и для женщин 1,2, так как белок основной строительный элемент для мышц.
  Для людей с повышенной физ. активностью долю белка стоит повышать на 15-30%. Долей жиров не стоит принебрегать, так как жиры
  важнейший нутриент, большое кол-во гормонов синтезируются из жиров и тд. Долей углеводов стоит жервовать во время диеты.</p>
</div>
